*.suo
*.exe
*.pdb
src/PekapekaBooth/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/PekapekaBooth/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/PekapekaBooth/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/PekapekaBooth/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/PekapekaBooth/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/PekapekaBooth/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/PekapekaBooth/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/PekapekaBooth/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/PekapekaBooth/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/PekapekaBooth/obj/Release/DesignTimeResolveAssemblyReferences.cache
src/PekapekaBooth/obj/Debug/PekapekaBooth.Properties.Resources.resources
src/PekapekaBooth/obj/Debug/PekapekaBooth.csproj.GenerateResource.Cache
src/PekapekaBooth/obj/Debug/PekapekaBooth.csproj.FileListAbsolute.txt
*.Cache
src/PekapekaBooth/obj/Release/PekapekaBooth.csproj.FileListAbsolute.txt
src/PekapekaBooth/obj/Release/PekapekaBooth.Properties.Resources.resources